<% include ../partials/header %>

<div class="container">
    <div class="row aligning camp">
        <div class="col">
            <h1 >Add a New Comment to <%= campGround.name %></h1>
        </div>
    </div>
    <div class="row new camp">
        <form action="/campgrounds/<%=campGround._id%>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
            </div>
            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
        </form>
    </div>
</div>
<a class="landing" href="/campgrounds">Go Back</a>
<% include ../partials/footer %>