<% include ./partials/header %>
<div class="aligning camp">
    <h1 class="landing">Landing Page !!!!</h1>
    <strong>
        <h1 class="landing">Welcome to YelpCamp</h1>
    </strong>
    <a class="landing" href="/campgrounds">View all Camp Grounds</a>
</div>

<% include ./partials/footer %>