<% include partials\header %>

<div class="landing">
    <h1>Show Page!!!</h1>
    <p>
        <%= campGround.name%>
    </p>
    <img src="<%= campGround.image%>">
    <p>
        <%= campGround.description%>
    </p>
    <a href="/campgrounds">Go Back</a>
</div>

<% include partials\footer %>